@tailwind base;
@tailwind components;
@tailwind utilities;


/* App.css */
html {
  height: 100%; /* Set to 100% */
  overflow-y: auto; /* Show scrollbar only when needed */
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #edf2f7; /* Light grey background */
  color: #333; /* Dark text for readability */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 50px); /* Ensure root element is at least as tall as the viewport minus navbar height */
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  padding-top: 50px; /* This should match the navbar height if the navbar is part of the layout inside #root */
}

/************* START NAVBAR SECTION **************/

/* Fixed navbar */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* Align nav-left to the start and nav-right to the end */
  align-items: center;
  padding: 0.5rem 1rem; /* Slightly reduced the side padding */
  background-color: #2b6cb0;
  z-index: 1000;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left a,
.nav-right a,
.nav-left button,
.nav-right button {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem; /* Adjust margin as needed */
  font-size: 1rem;
  text-decoration: none; /* Remove underline from links */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-left a:hover,
.nav-right a:hover,
.nav-left button:hover,
.nav-right button:hover {
  background-color: #2c5282;
}



/************* END NAVBAR SECTION **************/


/* Global styles for cards or other components */
.card {
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 2rem;
}

/* Styling for any documentation or additional text */
.read-the-docs {
  color: #888;
}

/* If you have a logo, here are some general styles */
.logo {
  height: 60px;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Remove keyframes animation if not needed */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  /* Adjust navbar padding for smaller screens */
  .navigation {
    padding: 0.5rem;
  }

  /* Stack buttons vertically on smaller screens, if desired */
  .navigation button {
    padding: 0.5rem 1rem; /* Adjust padding for smaller buttons */
  }
}
