__pycache__/
.venv/
node_modules/
.env
./api/app.py
./api/database.py
migations/
api/migrations/alembic.ini
api/migrations/env.py
api/migrations/README
api/migrations/script.py.mako
api/migrations/versions/e1fd59cfdb9f_.py
dist/
api/migrations/versions/b1549c6a444c_.py
api/migrations/versions/fa615e40cb18_.py
